
<div class="banner mb-0">
    <div class="row">
        <div class="col-7 mx-auto my-auto">
            <h2>Full Stack Developer</h2>
            <p >Hi, I'm craig. I study and practice full stack development. I have exprience with HTML, CSS, Javascript,Ruby on the Rails, and python. Currently I and studying Ruby on the Rails and SQL. To learnmore about the projects i have been working on ckilck below</p>
            <button type="button" class="btn btn-outline-secondary ">View My Work</button> 
        </div>
        <div class="d-flex col-4 my-4 ov-h">
            <%#<%= image_tag 'about-pic', style: 'display: flex; max-width: 200px; min-width: 100px', :class => "rounded-circle" %>
        <div>
</div>
